<%#C5 get another page%>
<%-include("partials/header.ejs");-%>

<div class ="box" id="heading">
<h1> About </h1>
</div>

<div class="">
<p><%=aboutContent%></p>
</div>




<%-include("partials/footer.ejs");-%>
